################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArduinoSim/v16
/ArduinoSim/Debug
/Debug
/ipch/arduinosim-47163316
/~$IO-list.xlsm
/.vs
